<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coin.whichfood">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" /><!--카메라 권한-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!--파일 읽기 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--파일 쓰기 권한-->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/><!--카메라 기능 사용-->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".FlagClass"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">


        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="mqr8h947mq" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8231620186256321~9673217647"
            />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="675ccfa4872a4eb6e1be8a61059dc307" /> <!-- 네이티브 앱 키 설정 -->
        <activity android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            />
        <activity android:name=".PopUp" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".WhatKindFood"/>
        <activity android:name=".TwoFood"/>
        <activity android:name=".OneFood"/>
        <activity android:name=".FinishActivity"/>
        <activity android:name=".mapofstore"/>
        <activity android:name=".kakaologin"
            android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".foodnutrientclass"/>
        <activity android:name=".Partnershippay"/>
        <activity android:name=".ShowStoreAd"/>
        <activity android:name=".Registerpartner"/>
        <activity android:name=".Myinfo"/>
        <activity android:name=".Contractstorelistpopup"/>
        <activity android:name=".Registerpartnerchange"/>
        <activity android:name=".Errorpopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Aikind"/>
        <activity android:name=".Healthy_choice"/>
        <activity android:name=".Weight_choice"/>
        <activity android:name=".Choicedelivery"
            android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".Selfdeliverylist"/>



        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao675ccfa4872a4eb6e1be8a61059dc307" />
            </intent-filter>
        </activity>

    </application>


</manifest>